@import url("https://fonts.googleapis.com/css?family=Lato|Poppins|Kaushan+Script");

#parallax-1 .title {
	font-family: "Kaushan Script", sans-serif;
	transform: rotate(-5deg);
	font-weight: 800;
	font-size: 5rem;
	color: whitesmoke;
	text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}

#parallax-1 .subtitle {
	color: white;
	font-size: 1.2rem;
	text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}

hr.content-divider {
	max-width: 75px;
	height: 5px;
}

#parallax-1 {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(https://fondosmil.com/fondo/3178.png);
	background: linear-gradient(rgba(31, 44, 108, 0.65), rgba(31, 44, 108, 0.65)),
		rgba(0, 0, 0, 0.55) url("https://fondosmil.com/fondo/3178.png") no-repeat;

	box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	font-family: "Poppins", sans-serif;
}

#parallax-2 {
	/* background: url(https://c8.alamy.com/compes/mayk14/fondo-de-textura-de-madera-blanca-nos-utilice-madera-limpios-para-el-telon-de-fondo-del-diseno-de-fondo-mayk14.jpg); */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.label {
	color: white;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(245, 245, 245, 0);
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #43485c;
}

ul li {
	display: inline-block;
	padding-right: 15px;
	padding-left: 15px;
}
ul li.is-active a {
	border-bottom: 2px solid #1f2c6c;
}

ul li a:hover {
	color: #1f2c6c;
	transition: all 0.2s ease-in-out;
	border-bottom: 2px solid #1f2c6c;
}

.ulShadow {
	height: 50px;
	background: white;
	box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.features {
	padding: 0.2rem 0;
}

.card-content .content {
	font-size: 5px;
	margin: 0.5rem 0.5rem;
}
.card-content .content h4 {
	font-size: 15x;
	font-weight: 700;
}
.card {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
	margin-bottom: 1rem;
}

.is-shady {
	animation: flyintoright 0.4s backwards;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
	border-radius: 4px;
	display: inline-block;
	margin: 10px;
	position: relative;
	transition: all 0.2s ease-in-out;
}
.is-shady:hover {
	box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}

.button-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@import url("https://fonts.googleapis.com/css?family=Lato|Poppins|Kaushan+Script");
.has-vertically-aligned-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

* {
	box-sizing: border-box;
}

html {
	font-family: "Poppins", Lato, Tahoma, sans-serif;
	width: 100%;
	min-height: 100%;
}
.header-wrapper {
	padding-bottom: 30px;
}

#parallax-1 .subtitle {
	padding: 5px;
	color: whitesmoke;
}
#parallax-1 .profession {
	padding-top: 50px;
	font-size: 1.7rem;
	text-transform: uppercase;
}

.steam-primera-idea {
	background-color: #f0f3f5;
	padding: 3rem;
}
.steam-tercera-idea {
	background-color: #d7ecf9;
	padding: 3rem;

	/* background: linear-gradient(rgba(31, 44, 108, 0.65), rgba(31, 44, 108, 0.65)),
		rgba(0, 0, 0, 0.55); */
}
.steam-tercera-idea {
	background-color: #f0f3f5;
	padding: 3rem;
}
.steam-cuarta-idea {
	background-color: #d7ecf9;
	padding: 3rem;
}
.steam-primera-idea img {
	height: 150px;
}
.steam-tercera-idea img {
	height: 280px;
}
.steam-tercera-idea img {
	height: 390px;
}
.steam-cuarta-idea img {
	height: 390px;
}

#up {
	height: 15px;
	transform: rotate(-90deg);
}

.universo-primera-idea {
	background-color: #f0f3f5;
}

@media (max-width: 1170px) {
	.universo-primera-idea img {
		padding-top: 3rem;
	}
}
@media (max-width: 890px) {
	.universo-primera-idea img {
		padding-top: 4.6rem;
	}
}
@media (max-width: 768px) {
	.universo-primera-idea img {
		height: 200px;
		margin-top: 0px;
		padding-top: 0px;
	}
}
.universo-segunda-idea {
	background-color: #d7ecf9;
}
.universo-tercera-idea {
	background-color: #f0f3f5;
}
.universo-tercera-idea img {
	height: 8rem;
}
@media (max-width: 768px) {
	.universo-tercera-idea img {
		height: 5rem;
	}
}
.pulsar {
	width: 9rem;
	border-radius: 1900px;
}

.universo-cuarta-idea {
	background-color: #f0f3f5;
}
.universo-quinta-idea {
	background-color: #d7ecf9;
}
.universo-quinta-idea img {
	height: 100px;
}

.explicacion {
	padding: 3rem;
	background-color: rgb(243, 243, 243);
	border-radius: 10px;
	box-shadow: 0px 0px 1px 1px #060504;
}
.steam-segunda-idea {
	background-color: rgb(247, 247, 247);
}
.steam-segunda-idea img {
	height: 15rem;
}
.steam-segunda-idea {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.steam-segunda-idea .content {
	margin-top: 3rem;
}

@media (max-width: 1860px) {
	.steam-segunda-idea img {
		margin-top: 3rem;
	}
}
#todo {
	margin-top: 0px;
	padding-top: 0px;
	background-color: #f1f1f1;
}
